/front-end/node_modules/*
/front-end/node_module/*
/back-end/node_modules/*
/back-end/node_module/*
/front-end/node_modules/*
/back-end/node_modules/*
/front-end/.next/*
/front-end/node_modules/*
/mock-up

