.infinite-slider {
    height: 250px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
  @media screen and (max-width: 780px) {
    .infinite-slider {
      height: 150px;
    }
  }
  .infinite-slider .items {
    display: flex;
    width: 300%;
    height: 100%;
    animation: moveSlideshow 160s linear infinite;
  }
  .infinite-slider .items .item {
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
  }
  .infinite-slider .items .item-1 {
    background-image: url("./stock/slideOne.png");
  }
  .infinite-slider .items .item-2 {
    background-image: url("https://picsum.photos/400/300?image=102");
  }
  .infinite-slider .items .item-3 {
    background-image: url("https://picsum.photos/400/300?image=103");
  }
  .infinite-slider .items .item-4 {
    background-image: url("https://picsum.photos/400/300?image=104");
  }
  .infinite-slider .items .item-5 {
    background-image: url("https://picsum.photos/400/300?image=106");
  }
  .infinite-slider .items .item-6 {
    background-image: url("https://picsum.photos/400/300?image=107");
  }
  .infinite-slider .items .item-7 {
    background-image: url("https://picsum.photos/400/300?image=101");
  }
  .infinite-slider .items .item-8 {
    background-image: url("https://picsum.photos/400/300?image=102");
  }
  .infinite-slider .items .item-9 {
    background-image: url("https://picsum.photos/400/300?image=103");
  }
  @-moz-keyframes moveSlideshow {
    100% {
      transform: translateX(-66.6666%);
    }
  }
  @-webkit-keyframes moveSlideshow {
    100% {
      transform: translateX(-66.6666%);
    }
  }
  @-o-keyframes moveSlideshow {
    100% {
      transform: translateX(-66.6666%);
    }
  }
  @keyframes moveSlideshow {
    100% {
      transform: translateX(-66.6666%);
    }
  }
  