
.hosted { 
    position: relative;
    color: rgb(221, 221, 221); 
    font-size: 18px;
    font-weight: 500;
    padding: 10px 10px; 
    text-decoration: none;
    width : 300px;
    margin : auto;
    top: -23%;
    transform: rotate(-5deg);
    border-radius: 5px;
    background:

	linear-gradient(
		-45deg,
		#0e52f2,
		transparent
	),
	linear-gradient(
		45deg,
		#fc203a,
		transparent
	);
background-blend-mode: multiply;
}

.team {
    background: rgb(168, 168, 168);
}