
.hosted { 
    position: relative;
    color: #BFC0C0; 
    font-size: 18px;
    font-weight: 500;
    background: #0A2463; 
    padding: 10px 10px; 
    text-decoration: none;
    width : 300px;
    margin : auto;
    top: -23%;
    transform: rotate(-2deg)
}